.title {
    color: red;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
nav {
    display:inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 575px;
}
.parag {
    color: royalblue;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header4{
    color: blue;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
.link {
    padding-left: 650px;
}
#youtube {
    padding-left: 680px;
}
#image {
    padding-left: 680px;
}
#table {
    padding-left: 680px;
}
#ytvid {
    padding-left: 400px;
}
#tree {
    padding-left: 550px;
}
#tableau {
    margin-left: 600px;
}
#forum {
    padding-left: 600px;
}
#up {
    padding-left: 670px;
}
#pics {
    margin-left: 350px;
}
#tableau th {
    border-style:solid;
}
#tableau td {
    border-style:solid;
}
#tableau {
    border-collapse: collapse;
}